* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #fbfbfb;
}

.App {
    margin: 20px auto;
    width: 400px;
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 6px -2px rgba(0,0,0,.22);
    background-color: #ffffff;
}

.App > form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.App > form > input {
    border: 1px solid #cecece;
    border-radius: 5px;
    padding: 10px 20px;
    height: 30px;
    outline: invert;
}

.App > form > input::placeholder {
    color: #bababa;
}

.App > form > input.input-error {
    border-color: #f4c8bd;
}

.App > form > button[type="submit"] {
    width: 40%;
    margin: auto;
    border-color: transparent;
    height: 50px;
    font-size: 18px;
    color: #fff;
    background-color: #EC6E4D;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s;
}

.App > form > button[type="submit"]:hover {
    background-color: #c24f33;
}

.App > form > button[type="submit"]:disabled {
    background-color: #f8d7d0;
    cursor: not-allowed;
}